@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.piosenka p {
    padding: 20px;
}

body {
    background-color: lightblue;
}

